body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #c8e06a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_card {
    width: 350px;
    background: #db944d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h3 {
    text-align: center;
    color: rgb(195, 95, 95);
    margin-bottom: 20px;
}

.form_container {
    display: flex;
    flex-direction: column;
}

.form_container input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
}

.login_btn {
    background: #33ccff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

body.login_page{
    background-color: aqua;
}



.player {
    text-align: center;
    margin-top: 50px;
}
.controls button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.big-button {
    padding: 20px 40px;
    font-size: 24px;
    margin: 0 15px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}
.big-button:hover {
    background-color: #45a049;
}

.big-button-vocals {
    padding: 20px 40px;
    font-size: 24px;
    margin: 0 15px;
    cursor: pointer;
    background-color: #e20a85;
    color: white;
    border: none;
    border-radius: 5px;


}